/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#credentials
/src/main/java/com/example/Springgaejdohello/Service/Utils/client_secret.json
/src/main/resources/api_credentials.json
/src/main/java/com/example/Springgaejdohello/Service/Auth/Google/Credentials.java