
body{
    position: relative;
}
#loading-icon{
    position: sticky;
    width: 10%;
    /*height: 70%;*/
    z-index: 20;
    top: 6em;
    /*left: 50%;*/
}
.issue-main-container{
    /*background: url("img/tic-tac-toe.png") repeat;*/
    max-width: 55%;
    min-width: 50%;
    /*height: 600px;*/
    /*background-repeat: repeat;*/
}

.issue{
    overflow: hidden;
    padding: 0.5% 2% 0% 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.issue .title {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #333333;

    /*overflow*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.issue .assignee {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 300;
    font-style: oblique;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ababab;
    padding-bottom: 0.5%;
}

.issue .issue-body .description{
    pointer-events: none;
}

.issue .description, .issue .id {
    font-family: Helvetica;
    font-size: 13px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ababab;
    padding-bottom: 0.5%;
    /*max-width: 50em;*/

    /*overflow*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.issue .assignedTo {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #942400;
}

.issue .downvote-button{
    float: left;
    padding: 1% 0% 1% 1%;
    cursor: pointer;
    min-width:7%;
}

.issue .downvote-button:hover{
    color : #942400;
}

.issue .issue-body{
    overflow: hidden;
    padding: 1.5% 2% 2% 1%;
    max-width:75%;
    min-width: 75%;
    cursor:pointer;

}

.issue .downvotebutton .downvote-numbers{
    /*position:absolute;*/
    bottom:0;
    font-size:24px;
    font-family:"verdana";
    background:rgba(251,251,251,0.5);
    padding:10px 20px;
    width:100%;
    text-align:center;
}

.button-downvote{
    max-width: 65%;
    height: 10%;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #c2c2c2;
    padding-bottom: 50%;
}


.issue .btn {
    outline:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 12%;
    border-radius: 11px;
    font-family: Arial;
    font-weight: 100;
    color: rgba(63, 63, 63, 0.99);
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #c2c2c2 1px;
    /*text-align: center;*/
}

.issue .btn:hover {
    cursor: pointer;
    border: solid #707070 1px;
}

.issue .comments{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    cursor: pointer;
    width: 5%;
}

.issue .comments img {
    width: 15px;
    height: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

.issue .comments .number-of-comments {
    font-size: 14px;
    padding-bottom: 0.5%;
}

.create-post-btn{
    cursor: pointer;
    /*-webkit-border-radius: 11;*/
    /*-moz-border-radius: 11;*/
    border-radius: 8px;
    font-family: Helvetica;
    font-weight: normal;
    color: #fbfbfb;
    font-size: 10px;
    letter-spacing: 0.8px;
    background: #6360f8;
    padding: 18px 28px 18px 28px;
    text-decoration: none;
    margin-top: 20px;
}

.create-post-btn:hover {
    background: #8a84f5;
    text-decoration: none;
}

#header{
    border-bottom: solid #ababab 1px;
    height: 6em;
}

#sidebar{
    display: flex;
    min-width: 15em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#body-after-header{
    padding: 12px;
    display: flex;
    flex-direction: row;
    /*min-width: 90%;*/
}

.issue-popup{
    display: none;
    position: absolute;
    width: 50%;
    /*height: 70%;*/
    z-index: 15;
    top: 16em; /*2 em from header */
    left: 30%;
    margin: -100px 0 0 -150px;
    background: white;
    font-family: Helvetica;

    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #333333;


    /*border: 1px solid;*/
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:          0 0 5px #000000;
    /*text-align: center;*/
}

#create-issue-popup{
    /*position: absolute;*/
    /*width: 50%;*/
    /*!*height: 70%;*!*/
    /*z-index: 15;*/
    /*top: 16em; !*2 em from header *!*/
    /*left: 30%;*/
    /*margin: -100px 0 0 -150px;*/
    /*background: white;*/
    /*font-family: Helvetica;*/

    /*font-size: 14px;*/
    /*font-weight: 100;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: normal;*/
    /*letter-spacing: 0.8px;*/
    /*text-align: left;*/
    /*color: #333333;*/


    /*!*border: 1px solid;*!*/
    /*-moz-box-shadow:    inset 0 0 10px #000000;*/
    /*-webkit-box-shadow: inset 0 0 10px #000000;*/
    /*box-shadow:          0 0 5px #000000;*/
    /*!*text-align: center;*!*/
}

.issue-popup .issue-popup-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #999;
    color: #ffffff;
    /* padding: 1%; */
    font-size: 12px;
    text-decoration: none;
    padding: 3% 5% 3% 5%;
    letter-spacing: 0.9px;
}

.issue-popup .issue-popup-close{
    cursor: pointer;
}

#create-issue-popup #create-issue-popup-form .textInput, .textInput .inputContainer textarea{
    margin: 0 0 15px;
    /*border: 1px solid #efefef;*/
}

/*#create-issue-popup #create-issue-popup-form .textInput:focus-within{*/
    /*-moz-box-shadow:    inset 0 0 2px #000000;*/
    /*-webkit-box-shadow: inset 0 0 2px #000000;*/
    /*box-shadow:          0 0 4px #a9a9a9;*/
    /*!*border: 1px solid #9e9e9e;*!*/
/*}*/

.textInput .inset {
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 5px;
    color: #999;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 15px;
    text-transform: uppercase;
    cursor: text;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.textInput .inputContainer {*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-direction: row;*/
    /*flex-direction: row;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
/*}*/

.textInput .inputContainer input, .textInput .inputContainer textarea, .textInput .inputContainer select {
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    line-height: 21px;
    border: 0;
    margin: 0;
    padding: 0;
    resize: none;
    outline: none;
    color: #333;
    background: none;
    font-size: 13px;
    line-height: 22px;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    opacity: 1;
}

/*.textInput .inputContainer textarea {*/
    /*-ms-flex: 1;*/
    /*flex: 1;*/
    /*width: 100%;*/
    /*line-height: 21px;*/
    /*border: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*resize: none;*/
    /*outline: none;*/
    /*color: #333;*/
    /*background: none;*/
    /*font-size: 13px;*/
    /*line-height: 22px;*/
    /*transform-style: preserve-3d;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*opacity: 1;*/
/*}*/

.textInput .inputContainer input:focus-within, .textInput .inputContainer textarea:focus-within{
    border-bottom: 1px solid #00ddff;
    box-shadow: 0px 4px 20px -1px #bef3ff;
}

#create-issue-popup #create-issue-popup-form{
    /*border-radius: 8px;*/
    /*font-family: Helvetica;*/
    /*font-weight: normal;*/
    /*color: #fbfbfb;*/
    /*font-size: 10px;*/
    /*letter-spacing: 0.8px;*/
    /*background: #6360f8;*/
    /*padding: 18px 28px 18px 28px;*/
    /*text-decoration: none;*/
    margin: 5% 5% 5% 10%;

}

#create-issue-popup .create-issue-popup-done button{
    margin: 1% 30% 1% 30%;
    background: green;
}

.create-issue-popup-listing{
    position: relative;
}

.create-issue-popup-listing ul{
    position: absolute;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: lighter;
    background: #dcdcdc;
    list-style-type: none;
    margin: -5% 0 0 0;
    padding: 0;
    z-index: 99;
    width: 100%;
}

.create-issue-popup-listing-active{
    background: wheat;
}

/*#create-issue-popup-form .create-issue-popup-tags input{*/
/*border-radius: 4px;*/
/*color: #3f3f3f;*/
/*font-size: 18px;*/
/*letter-spacing: 0.8px;*/
/*!* padding: 10% 5% 0% 5%; *!*/
/*text-decoration: none;*/
/*margin-top: 5%;*/
/*border: 1px solid black;*/
/*width: 60%;*/
/*!* height: 150%; *!*/
/*padding: 1% 1% 1% 2%;*/
/*}*/

/*#create-issue-popup-form .create-issue-popup-subject input{*/
/*border-radius: 4px;*/
/*font-family: Helvetica;*/
/*font-weight: normal;*/
/*color: #3f3f3f;*/
/*font-size: 18px;*/
/*letter-spacing: 0.8px;*/
/*!* padding: 10% 5% 0% 5%; *!*/
/*text-decoration: none;*/
/*margin-top: 5%;*/
/*border: 1px solid black;*/
/*width: 60%;*/
/*!* height: 150%; *!*/
/*padding: 1% 1% 1% 2%;*/
/*}*/

/*#create-issue-popup-form .create-issue-popup-description input{*/
/*border-radius: 4px;*/
/*font-family: Helvetica;*/
/*font-weight: normal;*/
/*color: #3f3f3f;*/
/*font-size: 18px;*/
/*letter-spacing: 0.8px;*/
/*!* padding: 10% 5% 0% 5%; *!*/
/*text-decoration: none;*/
/*margin-top: 5%;*/
/*border: 1px solid black;*/
/*width: 60%;*/
/*!* height: 150%; *!*/
/*padding: 1% 1% 1% 2%;*/
/*}*/

/*#create-issue-popup-form .create-issue-popup-assignee input{*/
/*border-radius: 4px;*/
/*font-family: Helvetica;*/
/*font-weight: normal;*/
/*color: #3f3f3f;*/
/*font-size: 18px;*/
/*letter-spacing: 0.8px;*/
/*!* padding: 10% 5% 0% 5%; *!*/
/*text-decoration: none;*/
/*margin-top: 5%;*/
/*border: 1px solid black;*/
/*width: 60%;*/
/*!* height: 150%; *!*/
/*padding: 1% 1% 1% 2%;*/
/*}*/

/*#create-issue-popup-form .create-issue-popup-assigned-to input{*/
/*border-radius: 4px;*/
/*font-family: Helvetica;*/
/*font-weight: normal;*/
/*color: #3f3f3f;*/
/*font-size: 18px;*/
/*letter-spacing: 0.8px;*/
/*!* padding: 10% 5% 0% 5%; *!*/
/*text-decoration: none;*/
/*margin-top: 5%;*/
/*border: 1px solid black;*/
/*width: 60%;*/
/*!* height: 150%; *!*/
/*padding: 1% 1% 1% 2%;*/
/*}*/

#downvote-form{

    position: absolute;
    z-index: 5;
    padding: 10px;
}

.downvote-container{
    display: flex;
    flex-direction: column;
}

#downvote-form input{
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    resize: none;
    outline: none;
    padding-bottom: 0px;
}

#downvote-form input:focus-within{
    border-bottom: 1px solid #00ddff;
    box-shadow: 0 2px 6px 1px #bef3ff;
    padding-bottom: 3px;
}

#pointer{
    color: #333333;
    border: solid 10px transparent;
    border-right-color: #878787;
    position: absolute;
    margin: 10px 0px 0px -30px;
}

#downvote-form #close-downvote-form{
    align-self: flex-end;
    font-size: 10px;
    font-weight: bold;
}

#downvote-form .downvote-body{
    margin-top: -25px;
}

#downvote-form .create-post-btn{
    cursor: pointer;
    /* -webkit-border-radius: 11; */
    /* -moz-border-radius: 11; */
    border-radius: 8px;
    font-family: Helvetica;
    font-weight: normal;
    color: #fbfbfb;
    font-size: 7px;
    letter-spacing: 0.3px;
    background: #6360f8;
    padding: 12px 17px 12px 17px;
    text-decoration: none;
    margin-top: 2px;
    text-transform: uppercase;
}

.issue-action{
    position: relative;
    background-color: black;
    opacity: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*z-index: 100;*/
    width: 100%;
    height: 100%;
}

.issue-action button{
    font-family: helvetica;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    background-color: #7d0000;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 12px;
    /* height: 80px; */
    width: 45%;
    opacity: 0.85 !important;
    cursor: pointer;
    outline: none;
}

.issue-action button:hover{
    background-color: #a30000;
    text-decoration: underline;
}

.close-issue{
    
}

.view-issue{
    left: 48% !important;
}

.limit-tag-height{
    max-height: 120px;
}

.create-issue-popup-assignee .chosen-container .chosen-single{
    cursor: text !important;
    border:none!important;
    background: none !important;
    /*border-bottom: 1px solid #5897fb !important;*/
    box-shadow:none !important;
    padding-left: 2px !important;
}

.create-issue-popup-assignee .chosen-container .chosen-container-active{
    border-bottom: 1px solid #5897fb !important;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    outline: none;
}

.create-issue-popup-assignee .chosen-container .chosen-drop{
    top:0% !important;
}


.create-issue-popup-assignee .chosen-container-single .chosen-search{
    padding: 3px 1px !important;
}
/*.inputContainer .chosen-container{*/
    /*width : 100% !important;*/
/*}*/

/*.inputContainer .chosen-container-active .chosen-choices {*/
    /*border-bottom: 1px solid #5897fb !important;*/
    /*box-shadow: 0 0 10px rgba(0,0,0,.3);*/
/*}*/

/*.inputContainer .chosen-container-multi .chosen-choices {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*width: 100%;*/
    /*height: auto!important;*/
    /*height: 1%;*/
    /*!* border: 1px solid #aaa; *!*/
    /*background-color: #fff;*/
    /*!* background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff)); *!*/
    /*!* background-image: -webkit-linear-gradient(#eee 1%,#fff 15%); *!*/
    /*background-image: -moz-linear-gradient(#eee 1%,#fff 15%);*/
    /*background-image: -o-linear-gradient(#eee 1%,#fff 15%);*/
    /*!* background-image: linear-gradient(#eee 1%,#fff 15%); *!*/
    /*cursor: text;*/
/*}*/

/*.chosen-container-multi .chosen-choices:focus{*/
    /*outline: none!important;*/
/*}*/