#sidebar{
    margin: 0% 5% 0% 0%;
    padding: 1% 0%;
    display: flex;
    min-width: 15em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start !important;
    height: fit-content;
    border: none;
    border-radius: 20px;
    background: #F1F1F1;
}

#sidebar > div {
    padding: 12px 0px 12px 14px;
}

#sidebar .names{
    color: #4e4e4e;
    /* font-family: Helvetica; */
    padding: 5%;
    font-size: 14px;
    align-items: flex-start;
    display: flex;
    font-family: helvetica;
    flex-direction: column;
    font-weight: 400;
    letter-spacing: 1px;
}

.names div{
    padding-bottom: 6px;
}

.issue-view-main-container{
    min-width: 40%;
    max-width: 55%;
}

.issue-view-main-container > div{
    padding: 2% 0%;
}

.issue{
    padding: 2% 0 ;
}

.issue .code{
    font-size: 12px !important;
}

.issue .title{
    -webkit-line-clamp:3 !important;
}

.small-titles{
    margin: 1% 0%;
    font-weight: 700;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 10px;
}

.comment-container{
    width: 99.5%;
    background: whitesmoke;
    display: flex;
    padding: 6px;
    justify-content: space-around;
    margin-top: 10px;
}

.comment-container a{
    padding-left: 8px;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: #707070;
}

.comment-container a:hover{
    text-decoration: underline;
    color: #ababab;

}

.issue-view-comment-box{
    margin: 1%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: "helvetica neue";
    letter-spacing: 0.8px;
    font-weight: 300;
    line-height: 20px;
}

.issue-view-comment-new{
    display: none;
    margin: 0.5% 0%;
    padding: 1% 1%;
    width: 100%;
    background: #f5f5f5;
    /* display: flex; */
    flex-direction: column;
}

.issue-view-comment-new .comment-heading{
    margin: 0% 2.5% -2%;
    color: #6d6d6d;
    letter-spacing: 1.5px;
}

.issue-view-comment-new input{
    flex: 1;
    width: 80%;
    /* line-height: 21px; */
    /* border: 0; */
    margin: 1% 2%;
    padding: 0.5% 3%;
    resize: none;
    outline: none;
    color: #333;
    background: white;
    font-size: 13px;
    line-height: 22px;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    border: 1px none aliceblue;
    border-radius: 3px;
}

.issue-view-comment-new textarea{
    flex: 1;
    width: 60%;
    /* line-height: 21px; */
    /* border: 0; */
    margin: 1% 2%;
    padding: 0.5% 3%;
    /*resize: none;*/
    outline: none;
    color: #333;
    background: white;
    font-size: 13px;
    line-height: 22px;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    border: 1px none aliceblue;
    border-radius: 3px;
}

.submit-btn{
    margin: 2% 2%;
    width:20%;
    cursor: pointer;
    /*-webkit-border-radius: 11;*/
    /*-moz-border-radius: 11;*/
    border-radius: 8px;
    font-family: Helvetica;
    font-weight: normal;
    color: #fbfbfb;
    font-size: 8px;
    letter-spacing: 0.8px;
    background: #6360f8;
    padding: 12px 0;
    text-decoration: none;
    border:none;
    /*margin-top: 10px;*/
}

.submit-btn:hover {
    background: #8a84f5;
    text-decoration: none;
}

.issue-view-comments-section{
    display: flex;
    flex-direction: column;
}

.issue-view-comment-date-reply-container{
    font-size:11px;
    display: flex;
    flex-direction: row;
    color: #6d6d6d;
}

.issue-view-comment-reply:hover{
    cursor: pointer;
    text-decoration: #bebebe underline;

}

.comment-child{
    margin-left: 20px;
}

#load-more-comments{
    margin-left: 1%;
    font-size: 13px;
    margin-top: 5px;
    cursor: pointer;
    font-family: Helvetica;
    text-transform: lowercase;
    color: #B71C1C;
    font-weight: 300;
}

#load-more-comments:hover{
    color: #E57373;
}


/*tooltip*/

.tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    width: 120px;
    /*background-color: #e6e6e6;*/
    color: black;
    text-align: center;
    padding: 5px 0;
    margin-top: -30px;
    font-size: 14px;
    font-weight: 400;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
}

#refresh-comments{

    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
}

#refresh-comments:hover{
    width: 16px;
    height: 16px;
}

